<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestiones generales</title>
</head>
<body>
      <main>
        <aside class="sidebar">
          <nav class="nav color">
            <ul>
              <img class="imagen"src="../../../assets/imagenes/avatar4.png"/>
              <li><a target="_blank" class="nav-link" routerLink="/profile" routerLinkActive="active">Mi perfil</a></li>
              <li><a target="_blank" class="nav-link" routerLink="/gestion-usuarios" routerLinkActive="active">Gestion usuarios</a></li>
              <li><a target="_blank" class="nav-link" routerLink="/gestion-productos" routerLinkActive="active">Gestion productos</a></li>
              <li><a target="_blank" class="nav-link" routerLink="/gestion-roles" routerLinkActive="active">Gestion roles</a></li>
       
            </ul>
           
          </nav>
        </aside>
        
        
        
      </main>
      <h1>Hola Admin desde aqui podrás realizar<br> todas tus gesiones</h1>
      
     
      


      
    
    
</body>

</html>
