<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestiones generales</title>
</head>
<body>
    
    <main class="main">
        <aside class="sidebar">
          <nav class="nav">
            <ul>
              <img class="imagen"src="../../../assets/imagenes/avatar4.png"/>
              <li class="active"><a href="#">Mi perfil</a></li>
              <li><a href="../gestion-usuarios">Usuarios</a></li>
              <li><a href="../gestion-productos">Productos</a></li>
              <li><a href="../gestion-roles">Roles</a></li>
              <li><a href="../home">Cerrar sesion</a></li>
            </ul>
           
          </nav>
        </aside>
        
        
      </main>
     
      <h1>Bienvenido Admin!</h1>
      <h1>Bienvenido Admin!</h1>
      <h1>Bienvenido Admin!</h1>
      <h1>Bienvenido Admin!</h1>
      <h1>Bienvenido Admin!</h1>
      <h1>Bienvenido Admin!</h1>
      <h1>Bienvenido Admin!</h1>
      <h1>Bienvenido Admin!</h1>
      <h1>Bienvenido Admin!</h1>
      <h1>Bienvenido Admin!</h1>
      <h1>Bienvenido Admin!</h1>
     



    
    
</body>
</html>
