<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafeteria</title>
</head>
<body >
    <img class="imagen" src="../../../assets/imagenes/home-g.jpg" alt="imagen cafeteria" width="1220" height="1000" >
    <div class="info container">
        <table class="tabla table-responsive"  >
            <p>CAFETERIA <img class="imagencentral" src="../../../assets/imagenes/imagencentral.jpg" >KONECTA </p> 
            <div >
                <p class="parrafo">Desde aqui puedes gestionar tus procesos de la cafeteria, <br>
                    inicia sesion para continuar

                </p>
            </div>
            <div class="sombra">
                <img class="cont-imagen1" src="../../../assets/imagenes/imagen1.jpg" alt="imagen1" height="500">
                <p class="parr-central">Tu <br>día <br>comienza <br>aquí.<br>Un espacio<br> para<br> conectar. </p>
                <img class="cont-imagen2" src="../../../assets/imagenes/imagen2.jpg" alt="imagen1" height="500">
                
            </div>
        </table>
        
    </div>

 
</body>
</html>
