table:last-child{
    text-align: center;
    
    
  }
  
  td>a{
      margin-left: 3px;
  }
  td{
    font: bold;
    font: Times New Roman;
  }


  .titulo{
    text-align: center;
    font-size:50px;
    font-family:fantasy;
    color: rgb(12, 13, 13);
    font-style: unset;
   
   

  }

  .parrafo{
    font-size: 20px;
    font-family:fantasy;
    ;
    
  }

  body{
    margin-right: 20px;
    margin-left: 20px
  }
  