<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cliente</title>
  </head>
  <body>
    <main class="main">
      <aside class="sidebar">
        <nav class="nav">
          <ul>
            <img class="imagen" src="../../../assets/imagenes/avatar4.png" />
            <li>
              <a target="_blank" 
                class="nav-link"
                routerLink="/profile"
                routerLinkActive="active"
                >Mi perfil</a
              >
            </li>
            <li>
              <a target="_blank" 
                class="nav-link"
                routerLink="/productos"
                routerLinkActive="active"
                >Productos</a
              >
            </li>
            <li>
              <a target="_blank" 
                class="nav-link"
                routerLink="/carrito"
                routerLinkActive="active"
                >Ver compras</a>
              
            </li>
          </ul>
        </nav>
      </aside>
    </main>
    

  </body>
</html>
